

@model DataAccess.Models.CustomerInformationViewModel
@{
    ViewBag.Title = "Customer's information";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<div class="container" style="margin-top: 160px;">
    <h2 id="title">@ViewBag.Title.</h2>
    <div class="col-md-12">
        @if (Model != null)
        {
            using (Html.BeginForm("CustomerInfor", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="row">
                    @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 col-form-label", @style = "font-weight: bold;" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="row">
                    @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 col-form-label", @style = "font-weight: bold;" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="row">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label", @style = "font-weight: bold;" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="row">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label", @style = "font-weight: bold;" })
                    <div class="col-8">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password", @disabled = "disabled" })
                    </div>
                    <div class="col-2">
                        <a href="~/account/changepassword" class="btn btn-dark">Change</a>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="offset-md-2 col-md-10">
                        <input type="submit" value="Save" class="btn" style="background-color: #000; color: #fff; cursor: pointer; " />
                    </div>
                </div>
            }
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
